

.product-list .product-item {
    margin-bottom: 20px
}

.product-item{
    border: solid black;
    width:94%;
    display: flex;
}

.product-list .product-item .image {
    padding-right: 25px;
    margin: 5px
}


 .product-item .name a {
    text-transform: uppercase
}

 .product-item .description {
    margin: 10px 5px 20px;
    border: solid #B3B3B3;
    
}

.product-item .description p {
    margin: 3px;

}

 .product-item .rating {
    padding: 0 0 11px
}

 .product-item .price {
    margin-bottom: 10px
}

 .product-item .clickable a,
 .product-item .sale-tag {
    display: none
}

 .product-item .btn-primary {
    margin: 0 0 20px
}

.product-sidebar {
    width: 100%;
}

.product-sidebar .product-item {
    height: 150px;
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #ccd1d9;
    float: left
}

.product-sidebar .product-item .image {
    display: block;
    width: 90px;
    height: 90px;
    float: left;
    margin: 0 10px 0 0;
    padding-bottom: 0
}

.product-sidebar .product-item .image img,
.thumbnails img {
    width: 100%
}

.product-sidebar .product-item .name {
    display: block;
    margin: 9px 0 2px;
    line-height: 1pc;
    float: none
}

.product-sidebar .product-item .price {
    display: block;
    color: #aab2bd;
    font-weight: 700;
    float: none
}

.showcase {
    margin-bottom: 30px;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out
}

.showcase:hover {
    zoom: 1;
    filter: alpha(opacity=75);
    opacity: .75
}

.fa-stack {
    font-size: 6px;
}

.fa-star, .fa-star-o {
    color: #ffce54;
    font-size: 14px;
}

.product-item a {
    display: block;
    color: #434a54;
    font-weight: 700;
    
}

.product-item .description p {
    line-height: 21px;
}

.filter .panel-heading {
    font-weight: 700;
    background: #fff;
    border-color: #e4e7ec;
}

.filter .panel-footer, .filter .panel-heading {
    font-weight: 700;
    background: #fff;
    border-color: #e4e7ec;
}

.list-group a.list-group-item.active,
.list-group a.list-group-item.active:hover {
    color: #434a54;
    background-color: #f5f7fa;
    border-color: #f5f7fa;
    border-top: 1px solid #d6dadf;
    border-bottom: 1px solid #d6dadf;
}

.product-list .image img{
    width:150px
}

.BookTitle{
   font-size: 18px;
   font-weight: bold;
   text-decoration: underline;
}

.BookAuthor{
    font-size: 15px;
    font-style: italic;
}



.FeatureBookTitle {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.FeatureBookAuthor {
    font-size: 12px;
    font-style: italic;
}

.searchbar{
    margin-bottom: 1rem;
}

.Featured{
    padding-top: 5rem;
}

.Logo{
    width:100%;
}